<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if @user.image %>
<p>Image: <img src="<%= @user.image %>" style="width:200px;height:120px"></p>
<% end %>